@use 'reset';
@use 'fonts';
@use 'vars';


$breakpoints: (
  sm: 430px,
  md: 650px,
  lg: 800px,
  xl: 1100px
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Не найден брейкпоинт: #{$breakpoint}.";
  }
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'MarynaText';
    font-size: 1.125rem;
    color: var(--text);
    background: var(--bg);
    line-height: 1.1;
    letter-spacing: 0.75px;
}

.container {
    width: 95vw;
    max-width: 81rem;
    overflow: visible;
}

.page {
    padding-top: var(--header-height);
    display: flex;
    justify-content: center;
}

.button {
    padding: 1rem 1.4rem;
    border-radius: var(--radius-pill);
    transition: var(--transition);

    @include respond-to(lg) {
        padding: 0.75rem 1rem;
    }

    &:hover {
        transform: translateY(-0.125rem);
        box-shadow: var(--shadow);
    }

    &:active {
        transform: translateY(-0.06rem);
        transition: background-color 0.2s ease; 
    }

    &-colored {
        background-color: var(--accent);
        color: var(--surface);

        &:hover {
            background-color: var(--accent-hover);
            box-shadow: var(--shadow);
        }
    }

    &-ghost {
        background-color: transparent;
        border: solid 0.1rem var(--accent);
        color: var(--accent);

        &:hover {
            background-color: var(--accent-hover);
            border: solid 0.1rem var(--accent-hover);
            color: var(--surface);
            box-shadow: var(--shadow);
        }
    }
}

hr {
    color: var(--text-muted);
    background-color: var(--hr-light);
    height: 0.1rem;
    border-radius: var(--radius-pill);
    margin: 1.25rem 0;
}

ol {
    list-style: none;
}




@keyframes float {
    0%,
    100% {
        transform: translateY(0) rotate(-2deg);
    }

    50% {
        transform: translateY(-12px) rotate(-1deg);
    }
}

@keyframes float-alt {
    0%,
    100% {
        transform: translateY(0) rotate(3deg);
    }

    50% {
        transform: translateY(12px) rotate(2deg);
    }
}

pre {
    padding: 1.5rem;
    background-color: var(--text);
    border-radius: var(--radius-m);
    color: var(--surface);
    line-height: 1.5;
    margin-top: 1.5rem;
    box-shadow: var(--shadow);
    font-size: 0.9rem;
    
    @include respond-to(xl) {
        display: none;
        visibility: visible;
    }
}

span {

    &.var {
        color: rgb(108, 174, 255);
    }

    &.value {
        color:rgb(206, 194, 61);
    }

    &.root {
        color:rgb(187, 103, 251);
    }

    &.number {
        color:rgb(251, 152, 103);
    }

    &.time {
        color:rgb(255, 70, 70);
    }

    //colors

    &.red {
        color:rgb(255, 122, 122);
    }

    &.blue {
        color: rgb(108, 174, 255);
    }

    &.orange {
        color:rgb(255, 187, 120);
    }

    &.yellow {
        color:rgb(255, 233, 152);
    }

    &.yellow-sat {
        color:rgb(255, 198, 40);
    }

    &.green {
        color:rgb(127, 255, 122);
    }

    &.purple {
        color:rgb(245, 135, 255);
    }
}