@font-face {
  font-family: 'MarynaText';
  src: url('../fonts/MarynaText-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MarynaText';
  src: url('../fonts/MarynaText-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'MarynaText';
  src: url('../fonts/MarynaText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MarynaText';
  src: url('../fonts/MarynaText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MarynaText';
  src: url('../fonts/MarynaText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MarynaText';
  src: url('../fonts/MarynaText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}