
:root {
    --accent: #17e;
    --accent-hover: rgb(18, 88, 209);
    --accent-light: #eaf4ff;

    --text: #111827;
    --text-soft: #637286;
    --text-muted: #8893a3;
    --text-light: #cdd4dee8;

    --hr-light: #8893a35a;

    --bg: #f8fafc;
    --bg-black: #1b2338;
    --surface: #ffffff;
    --surface-soft: #f0f4f8;
    --bg-dark: #f2f5f9;
    --bg-dark-surface: linear-gradient(40deg, #0a0f1a, #0d131f, #111827);


    --header-color: rgba(255, 255, 255, 0.8);
    --header-color-dark: rgba(0, 0, 0, 0.8);

    --dark: #0d1117;
    --dark-soft: #161c25;

    --border: rgba(17, 24, 39, 0.1);
    --border-light: rgba(255, 255, 255, 0.12);

    --container: 1240px;
    --header-height: 70px;

    --radius-s: 14px;
    --radius-m: 24px;
    --radius-l: 36px;
    --radius-pill: 9999px;

    --shadow: 0.2rem 0.2rem 2rem rgba(29, 43, 66, 0.2);
    
    --transition: .4s cubic-bezier(0.56, 0, 0.03, 1) 0s;
}